.home{
    background: #f0f0f0;
    height: 100vh;
    width: 100vw;
}
.home .topo{
    color: var(--gray);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
}
.boxHome{
    border:solid 1px #969696;
    border-radius:5px;
    color: #555;
    background: #DEDEDE;
}
.boxHome:hover{
    background: var(--primary-light);
    transition: 0.2s;
    color: #000;
    border:solid 1px #555;
}
